<aside>
      <div class="sidebar">
    <div class="sidebar-container">
      <div class="static-links">
        <ul>
          <li><a href="https://dharmalibrary.netlify.app/perfection-of-wisdom/perfection-of-wisdom/">Perfection of Wisdom</a></li>
          <li><a href="https://dharmalibrary.netlify.app/collected-topics/collected-topics/">Collected Topics</a></li>
        </ul>
      </div>
    </div>
  </div>
</aside>
