body {
   /* Font families */
  --font-text-theme:  'Times New Roman', 'Monlam Uni OuChan2';
  --font-editor-theme: 'Times New Roman', 'Monlam Uni OuChan2';
  --font-monospace-theme: 'JetBrains Mono', 'Fira Code', Menlo, SFMono-Regular,
    Consolas, 'Roboto Mono', monospace;
  --font-interface-theme: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Inter, Ubuntu, sans-serif;
  --font-editor: var(--font-editor-override), var(--font-text-override),
    var(--font-editor-theme);

  .content {
    max-width: 1200px;
    margin: auto;
    font-size: 26px;
    line-height: 1.5;
    margin-top: 90px;
    margin-left: 300px;
    position: relative;

    @media (max-width: 1300px) {
        margin-top: 75px;
    }
}

strong, b {
  color: rgb(234, 198, 118); /* Change the color to whatever you prefer */
}

em, h1 {
   color: rgb(173, 216, 230);
   }
   
/* Sidebar container styling */
.custom-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;        /* Adjust width as needed */
  height: 100%;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  font-size: 18px;
  line-height: 1.5;
}

.navbar {
    position: fixed;
    z-index: 1000;
   }

.nav-links {
  list-style: none;
   font-size: 22px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 50px;  /* Space between the title and the links */
}

.nav-links li {
  margin-right: 30px; /* Spacing between individual links */
}

.nav-links a {
  text-decoration: none;
  color: rgb(234, 198, 118);
}

/* Nuclear option for stubborn panels */
.floatingchat-donate-panel[style] {
  left: auto !important;
  right: 100% !important;
  transform: translateX(0) !important;
  margin-right: 15px !important;
}
   
   
ul, ol {
  /*  margin-top: -20px; */
    margin-block-start: -20px;
    margin-block-end: 0px;
}

ul ul, ol ol {
/*  margin-top: 0;  Reset margin for nested lists */
   margin-block-start: 0px;
}

ol ul, {
   margin-block-start: 0px;
   }
ul ol, {
   margin-block-start: 0px;
   }
   
 hr {
  margin-top: 30px;
  margin-bottom: -10px;
} 


   
}
